@tailwind base;
@tailwind components;
@tailwind utilities;

.color-black{
  color: #333437
}

.color-white{
  color:#fff;
}

.background-black{
  background-color: #333437;
}

.background-purple{
  background-color: #925FE2;
}

.color-purple{
  color: #925FE2;
}

.backgroud-purple-dark{
  background-color: #9C6FE4;
}

.color-purple-dark{
  color: #9C6FE4;
}

